@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

/* variables */
:root {
  font-size: 10px;
  --mainColor-300: #eae8fe;
  --mainColor: #6327fe;
  --white: #ffffff;
  --gray: #bdbdbd;
  --font-xl: 1.4rem;
  --font-l: 1.3rem;
  --font-m: 1.2rem;
  --font-sm: 0.9rem;
}

/* reset */
body {
  margin: 0 auto;
}

h1,
h2,
ul,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
}

input {
  padding: 0;
}

em {
  font-style: initial;
}

/* common */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

* {
  font-family: "Noto Sans KR";
  font-weight: 500;
  box-sizing: border-box;
}

body {
  background-color: var(--mainColor-300);
  height: 100vh;
}

header {
  margin-bottom: 67px;
}

header img {
  width: 386px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 28px;
}

/* vending-machine-wrapper */
.vending-machine-wrapper {
  background-color: var(--white);
  /* 변동값 360 306 */
  width: 360px;
}

.vending-machine {
  padding: 31px 27px 28px 27px;
}

/* machine-item */
.machine-item-wrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 12px;
}

.machine-item {
  width: 94px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--white);

  position: relative;
  padding: 11px 10px 9px 11px;
}

.machine-item:not(.sold-out) {
  cursor: pointer;
}

.machine-item:not(.sold-out):active {
  box-shadow: 0 0 0 3px var(--mainColor);
}

.machine-item.selected {
  box-shadow: 0 0 0 3px var(--mainColor);
}

.machine-item.sold-out::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.sold-out-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.item-img {
  margin-bottom: 6px;
  width: 36px;
  aspect-ratio: 36 / 65;
}

.item-name {
  font-size: var(--font-sm);
  margin-bottom: 7px;
  word-break: break-word;
}

.item-price {
  width: 70px;
  height: 22px;

  font-size: var(--font-m);
  color: var(--white);
  background-color: var(--mainColor);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* machine-bottom */
.machine-bottom {
  margin-top: 20px;
}

/* content-wrapper */
.content-wrapper {
  display: grid;
  grid-template: 1fr 1fr 3fr / 2fr 1fr;
  gap: 11px 12px;
  height: 194px;
}

/* view-box */
[class^="view-box"] {
  background-color: var(--mainColor-300);
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 10px;

  font-size: var(--font-xl);
}

/* button */
[class^="btn"] {
  border: none;
  border-radius: 5px;
  font-size: var(--font-l);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

[class$="default"] {
  background-color: var(--white);
}

[class$="submit"] {
  background-color: var(--mainColor);
  color: var(--white);
  font-weight: 700;
}

/* input */
.input-style {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding-left: 6px;
}

.input-style::placeholder {
  color: var(--gray);
}

/* selected-list */
.selected-list {
  background-color: var(--mainColor-300);
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 12px 6px 12px 12px;

  overflow: auto;
  overflow-x: hidden;
}

.selected-list::-webkit-scrollbar {
  width: 12px;
}

.selected-list::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 50px;
  border: 4px solid var(--mainColor-300);
}

/* selected-item */
.selected-item {
  background-color: var(--white);
  border-radius: 5px;
  padding: 6px 8px 7px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-item:not(:last-child) {
  margin-bottom: 6px;
}

.selected-item-name {
  display: inline-block;
  font-size: var(--font-sm);
}

.selected-item-img {
  width: 18px;
  aspect-ratio: 18 / 33;
  vertical-align: middle;

  margin-right: 10px;
}

.selected-count {
  width: 30px;
  height: 30px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-size: var(--font-xl);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- vending-machine-order -- */
.vending-machine-order {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.money-wrapper {
  padding: 9px 27px;
}

.vending-machine-wrapper.total {
  flex-grow: 1;
}

/* view-box-money */
.view-box-money em {
  font-weight: 700;
}

/* total-box */
.total-box {
  padding: 25px 27px;
  height: 100%;
  text-align: center;
}

.total-box .selected-list {
  height: 364px;
}

.total-box-title {
  margin-bottom: 13px;
  font-size: var(--font-xl);
  font-weight: 700;
}

.total-price {
  margin-top: 6px;
  float: right;
  font-size: var(--font-m);
}

.money-title::after {
  content: " :";
}

@media (max-width: 780px) {
  body {
    background-color: var(--white);
  }

  header {
    margin-bottom: 18px;
  }

  header img {
    max-width: 166px;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .vending-machine {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .money-wrapper {
    padding-top: 0;
  }

  .vending-machine-wrapper.total {
    margin-top: 10px;
    margin-bottom: 43px;
  }
}
